body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
	text-align: center;

}

h2 {
	padding-bottom: 5px;
	font-size: 1.2em;
}

p {
	margin: 2px;
}

.restaurant {
	position: relative;
	margin: 0 15px 50px;
	padding-top: 10px;
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
	color: #625F63;
	background-color: #C8C5C9;
	border: 2px solid;
	border-radius: 25px;
	word-wrap:break-word;
}

#restaurantSection {
	width: 102%;
}

